<div class="row margin-top-50">
  <div class="col-md-4 col-md-offset-1 border">
    <form name="loginUserForm">
      <label for="username">Username</label>
      <input type="text" id="username" required="required" ng-model="loginUser.username" class="form-control" />

      <label for="password">Password</label>
      <input type="password" id="password" required="required" ng-model="loginUser.password" class="form-control" />

      <button class="btn btn-primary" ng-disabled="loginUserForm.$invalid" ng-click="login(loginUser)">Login</button>
    </form>
  </div>

  <div class="col-md-4 col-md-offset-2 border">
    <form name="registerUserForm">
      <label for="reg-username">Username</label>
      <input type="text" required="required" ng-model="registerUser.username" id="reg-username" class="form-control" />

      <label for="reg-password">Password</label>
      <input type="password" required="required" minlength="6" maxlength="20" ng-model="registerUser.password" id="reg-password"
        class="form-control" />

      <label for="reg-confirmPassword">Confirm Password</label>
      <input type="password" required="required" minlength="6" maxlength="20" ng-model="registerUser.confirmPassword" id="reg-confirmPassword"
        class="form-control" />

      <label for="reg-name">Name</label>
      <input type="text" required="required" ng-model="registerUser.name" id="reg-name" class="form-control" />

      <label for="reg-email">Email</label>
      <input type="email" required="required" ng-model="registerUser.email" id="reg-email" class="form-control" />

      <label for="reg-gender">Gender</label>
      <label class="font-weight-normal">
        <input type="radio" ng-model="registerUser.gender" name="reg-gender" checked id="male" value="male"> Male
      </label>
      <label class="font-weight-normal">
        <input type="radio" ng-model="registerUser.gender" name="reg-gender" id="female" value="female"> Female
      </label>
      <label class="font-weight-normal">
        <input type="radio" ng-model="registerUser.gender" name="reg-gender" id="unspecified" value="unspecified"> Unspecified
      </label>
      <br />
      <button class="btn btn-primary" ng-disabled="registerUserForm.$invalid
      || registerUser.password != registerUser.confirmPassword" ng-click="register(registerUser)">Register</button>
    </form>
  </div>
</div>